<%= form_for(@user, url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :ユーザ名 %>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :メールアドレス %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :パスワード %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :パスワード再入力 %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>