<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "プロフィールを確認する", current_user %></span>
<span>投稿数:<%= current_user.microposts.count %></span>